/**************** Fonts *****************************/

@font-face {
    font-family: "Nunito_Sans";
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "Nunito_Sans_bold";
    src: url(../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}

@font-face {
    font-family: "NunitoSans_Bold";
    src: url(../fonts/Rubik/static/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}
/*************** Colors *******************/
:root {
    --black: #000000;
    --text: #505458;
    --primary: #327039; /*green*/
    --secondary: #552e11;
    --blublack: #2b578de6;
    --grey: #00000029;
    --greyBg: #fbfbfb;
    --greyBrdr: #dbdbdb;
    --themeColor: #a2743c;
    --themeColor-light: #ac7c40;
    --themeColor-light2: #b59369;
    --themeColor-light3: #d5a974;
    --secondary2: #ffead1;
}
/**************** Basic Style *****************************/
body {
    background: #f9f6f1;
    color: var(--text);
    direction: ltr;
}
.block {
    display: block;
}

.left-side-menu,
.navbar-custom {
    background: var(--blublack);
}
.page-title-main {
    color: #fff;
}
a {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
    color: var(--secondary);
}
.left.side-menu {
    /* background: var(--themeColor);
    background: linear-gradient(167deg, var(--themeColor) 0%, var(--themeColor-light) 70%, var(--themeColor-light2) 100%); */
    background: rgb(255 246 235);
    padding-bottom: 1rem;
}
.user-box h5 a , i.zmdi.zmdi-power , li.text-muted.menu-title{
    color: var(--secondary);
}
.left.side-menu .slimScrollDiv , .left.side-menu .sidebar-inner{
    height: 100% !important;
}
.pro-user-name.ml-1 {
    color: var(--greyBg);
}
.topbar .topbar-left{
    float: left;
}
.topbar .topbar-left .logo {
    display: block;
    width: max-content;
    margin-inline: auto;
}
.topbar .topbar-left .logo img {
    max-height: 65px;
    object-fit: contain;
}
.topbar .topbar-left,
.navbar-default {
    border-top-color: var(--secondary);
}
.navbar-default {
    background-color: var(--themeColor);
}
#sidebar-menu .menu-title {
    text-transform: capitalize;
}
/* .page-title,
.button-menu-mobile {
    color: var(--secondary2);
} */
.button-menu-mobile:hover,
.button-menu-mobile:focus {
    color: var(--secondary);
}
.user-box i.text-dark {
    color: var(--primary) !important;
    margin-left: 10px;
}
#sidebar-menu ul ul a {
    /* color: var(--greyBg); */
    padding: 10px 20px 10px 50px;
}
#sidebar-menu > ul > li > a {
    /* color: #ffead1; */
    background-color: transparent;
}
#sidebar-menu > ul > li > a:active,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:hover,
#sidebar-menu > ul > li > a.active,
#sidebar-menu > ul > li.active > a {
    /* color: #ffead1 !important; */
    border-right: 3px solid var(--secondary);
}
#sidebar-menu .subdrop {
    border-right: 3px solid var(--secondary);
    /* color: #ffead1 !important; */
}
/* .user-box ul li a:hover,
#sidebar-menu ul ul li.active a,
#sidebar-menu ul ul a:hover {
    color: #ffead1;
} */
.label-purple {
    background-color: var(--primary);
}
.content-page {
    margin-top: 2rem;
}
.card-box p.text-muted.font-14.mb-3 {
    margin: 10px auto;
    text-align: center;
}
.btn-info {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.btn-info:hover,
.btn-info:focus {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: #fff;
}
.btn-primary {
    background-color: #b48f62 !important;
    border-color: #b48f62 !important;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: #fff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.page-item.active .page-link {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
table h6.btn.btn-success.btn-circule {
    margin-top: 0;
}
table.dataTable {
    width: 100% !important;
    max-width: 100% !important;
}
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > td:first-child:before,
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > th:first-child:before {
    background-color: var(--primary);
}
.navbar-custom .button-menu-mobile {
    color: var(--greyBg);
}
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
    border-left-width: 0px;
}
.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 1px;
}
.btn-danger {
    color: #fff !important;
}
form .form-actions {
    text-align: center;
}
form .form-actions .btn,
form .form-group .btn,
.form-group .btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    min-width: 120px;
    display: table;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--greyBg);
}
table.dataTable > tbody > tr.child ul.dtr-details > li {
    display: flex;
    justify-content: space-between;
}
.dtr-data {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.dtr-data .btn {
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 0;
}
.swal2-icon.swal2-warning {
    color: var(--primary);
    border-color: var(--primary);
}
button.swal2-confirm.btn-warning.swal2-styled {
    background-color: var(--primary);
    border-color: var(--primary);
}
button.swal2-confirm.btn-warning.swal2-styled:hover,
button.swal2-confirm.btn-warning.swal2-styled:focus {
    background-color: var(--black);
    border-color: var(--black);
}
a.btn.btn-success.btn-circule {
    color: #fff !important;
}
a.dropdown-item.notify-item {
    cursor: pointer;
}
.input-group-btn,
.col-xs-12.aligne-center.contentbtn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}
.input-group-btn .btn,
.col-xs-12.aligne-center.contentbtn .btn {
    min-width: 120px;
}
.form-horizontal .control-label {
    text-align: right;
}
.card-box a.input-group-btn {
    margin: 14px auto !important;
    display: table;
}
.logo_im {
    width: 100px;
    object-fit: contain;
}
td .btn-success i, td .btn-info i {
    margin-right: 0.5rem;
}
.modal-footer {
    text-align: right;
}
/*********** LOGIN *************************************/
.authentication-bg .btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    max-width: 210px;
}
.account-pages {
    background: url(../images/big/park.svg) no-repeat bottom right;
    background-size: 40% 80%;
}
.btn-bordred.btn-custom {
    background-color: var(--primary);
    border-bottom: 2px solid var(--primary) !important;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: var(--blublack) !important;
    border: 1px solid var(--blublack) !important;
}
.wrapper-page .card-box {
    background-color: rgba(255, 255, 255, 0.6);
}
.authentication-bg .btn-primary:hover,
.authentication-bg .btn-primary:focus {
    background-color: var(--black);
    border-color: var(--black);
}
.authentication-bg a.text-muted.ml-1 {
    color: var(--primary) !important;
}
.authentication-bg a.text-muted.ml-1:hover,
.authentication-bg a.text-muted.ml-1:focus {
    color: var(--black) !important;
}
body.authentication-bg {
    background: url("../images/traveling.png") no-repeat bottom left;
    background-size: contain;
    position: relative;
}
.authentication-bg .card {
    background-color: rgb(255 255 255 / 60%);
    box-shadow: 0 2px 3px 5px rgb(234 234 234 / 60%);
    color: var(--black);
}
.authentication-bg .account-pages {
    margin: 0 !important;
    height: 100% !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.report-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.report-title , .report-link {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
.report-link{
    display: block;
}
.report-logo .image{
    object-fit: contain;
    max-width: 140px;
    max-height: 94px;
}
.responsive-wrapper{
    overflow: auto;
}
/**********************************************************************/
/**********************************************************************/
/******************** Responsive *********************************/
@media (min-width: 992px) {
    .wrapper-page{
        margin: 0 0 0 5%;
        height: 100%;
        min-height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(25px);
    }
}
@media (max-width: 991px) {
    .account-pages {
        background-size: contain;
        opacity: .4;
        background-position: center;
    }
}
@media (max-width: 767.98px) {
    table .btn {
        padding: 4px 6px;
        font-size: 13px;
        margin: 0 0 3px 3px;
    }
    .dataTables_wrapper .dataTables_filter {
        text-align: center !important;
    }
}

/* =================== modfication ==================== */
/* .content-input-fontawsome{
    display: flex;
    align-items: center;
} */
.content-input-fontawsome span {
    margin-right: 5px;
    font-size: 16px;
    color: var(--themeColor);
}
.btn-block {
    width: 60%;
    margin: auto;
}
div.dataTables_filter,
div.dataTables_paginate {
    text-align: left;
    margin: 12px auto;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    float: left;
}
.waves-ripple {
    background-color: #552e110f !important;
}
.topbar , .topbar .topbar-left{
    background: rgb(255 246 235);
    /* background: linear-gradient(90deg, var(--themeColor) 0%, var(--themeColor-light) 70%, var(--themeColor-light2) 100%); */
}
.navbar-default {
    background-color: transparent;
    background: transparent;
}
.navbar-left {
    float: left !important;
}
@media (min-width: 768px) {
    .navbar-right {
      float: right !important;
      margin-right: -15px;
      margin-left: 0;
  }
}
.notification-box > ul > li > a {
    /* color: var(--secondary2); */
    position: relative;
}
.notification-box ul li a  .badge{
    position: absolute;
    top: 1rem;
    left: 0;
    font-size: 1rem;
    background-color: var(--themeColor-light3);
}
.nav .notification-box .open>a, .nav .notification-box .open>a:hover, .nav .notification-box .open>a:focus {
    background-color: transparent;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}
.navbar-nav .open .dropdown-menu{
    position: absolute;
    background-color: #fff;
    padding: 12px 6px;
}
.navbar-right .dropdown-menu {
    text-align: right;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}
.notification-box .media{
    display: flex;
    flex-direction: column-reverse;
    line-height: 1;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.notification-box .media-body {
    width: 100%;
    text-align: left;
    display: block;
}
.notification-box .media-body .notification-text {
    padding-left: 0.5rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    word-wrap: break-word;
}
.notification-box .dropdown-menu-header{
    color: var(--text);
    text-align: center;
}
.notification-box .date{
    font-size: 1rem;
    color: var(--text);
    text-align: right;
}
.notification-box .media-list a {
    display: block;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 0;
}
.tabsContentDuty .dt-buttons.btn-group, .tabsContentDuty .dataTables_filter, .tabsContentDuty .dataTables_paginate, .tabsContentDuty .dataTables_info {
    display: none;
}
.tabsLinkDuty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: 0;
}
.tabsLinkDuty > li {
    margin-bottom: 0;
}
.tabsLinkDuty > li > a {
    text-decoration: none;
    background-color: #d0b28045;
    border: 0 !important;
}
.tabsLinkDuty > li > a:focus,
.tabsLinkDuty > li > a:hover,
.tabsLinkDuty > li.active > a,
.tabsLinkDuty > li.active > a:hover {
    border: 0 !important;
    background-color: var(--themeColor);
    color: #fff;
}
table.dataTable td {
    background: #f8f8f8;
}
.Rides tr td,
.Rides tr th {
    background-color: #d9e2f3;
    text-align: left;
}
.Health.health1 tr td,
.Health.health1 tr th {
    background-color: #ffe598 !important;
}
.TechServices tr td,
.TechServices tr th {
    background-color: #d9e2f3 !important;
}

.Maintenance tr td,
.Maintenance tr th {
    background-color: #dac8fd !important;
}
.SkillGames tr td,
.SkillGames tr th {
    background-color: #d0cece !important;
}
.redFlag tr td,
.redFlag tr th {
    background-color: #fbe4d5 !important;
}
tr th {
    text-align: left;
    font-weight: bold;
    color: #000;
    font-size: 15px;
}
.mt-4 {
    margin-top: 16px;
}
.mt-5 {
    margin-top: 20px;
}
.redFlags {
    font-weight: bold;
}
.tableRedFlag td {
    color: red;
}
.align-center {
    text-align: center !important;
}
td.yes.yesImportant {
    background-color: #c6efce !important;
}
td.no.noImportant {
    background-color: #ffc7ce !important;
}
td.gray.grayImportant {
    background-color: #ccc !important;
}
.yes.yesImportant .card-box {
    background-color: #c6efce ;
}
.no.noImportant .card-box {
    background-color: #ffc7ce ;
}
.gray.grayImportant .card-box {
    background-color: #ccc ;
}
.orang .card-box {
    background-color: #e4913d ;
}
.yellow .card-box {
    background-color: #f3e97a ;
}
.bold {
    font-weight: bold;
}
.contentRide {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
}
.contentRide_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentRide_title{
    text-transform: capitalize;
}
.contentRide_mins{
    text-align: right;
}
.total_riders{
    text-align: right;
}
.riders_list  .playHasQue{
    color: #ebab43;
}
.riders_list  .playHasCycle{
    color: #c6efce;
}
.riders_list .cycle{
    background-color: #c6efce;
}
.riders_list .que{
    background-color: #fad08c;
}
.type-header {
    background-color: #c8e1f8 !important; /* Light gray color */
    text-align: center;
}
.eval-header {
    background-color: #f5e2b1 !important; /* Light gray color */
    text-align: center;
}
.contentDescription .bold {
    color: #ff5b5b;
    width: max-content;
    text-transform: capitalize;
    padding: 0.3rem 0.6rem;
}
.catdescription .cat {
    color: #8b581b;
    text-align: center;
    display: inline-block;
    width: max-content;
    text-transform: capitalize;
    padding: 0.3rem 0.6rem;
}
textarea.editTextArea {
    width: 100%;
    background-color: yellow;
}
.yelloBack {
    background-color: yellow;
    padding: 0 10px;
}
.tableDates th {
    background-color: #cccc;
}
.tableDates tr td {
    background-color: #fff;
}
td.redflagTd, table tr td.redflagTd {
    background-color: #ffc7ce !important;
}
.content-input-fontawsome {
    position: relative;
}
.iconInput {
    position: absolute;
}
.iconInput {
    position: absolute;
    top: calc(50% - 8px);
    left: 5px;
    z-index: 9;
}
.content-input-fontawsome input {
    text-indent: 13px;
    color: var(--themeColor) !important;
    height: 42px;
}
span.select2 {
    border: 1px solid #e3e3e3;
    padding: 7px 12px;
    border-radius: 4px;
    color: #565656;
    padding: 7px 12px;
    height: 38px;
}
span.select2.select2-container.select2-container--bootstrap {
    direction: ltr !important;
}
.select2-results__option[aria-selected] {
    text-align: left;
    color: #565656;
}
.select2-search--dropdown .select2-search__field {
    text-align: left;
}
.select2-container[dir="rtl"]
    .select2-selection--single
    .select2-selection__rendered {
    padding-right: 0px;
    padding-left: 0px;
}
body {
    font-family: "Nunito_Sans";
    padding-bottom: 50px;
}
span.select2.select2-container.select2-container--bootstrap {
    width: 100% !important;
    background-color: #fff;
}
.formSection {
    background-color: #f2eadd;
    padding: 1rem;
    margin-bottom: 15px;
}
.mtButton {
    margin-top: 20px;
}
.tab-content {
    border-top: 2px solid #eeeeee;
}
.datatableTabs {
    margin-top: 15px;
}
div#datatable-buttons_filter {
    position: absolute;
    right: 10px;
    top: 0;
    margin: 0;
}
table.dataTable {
    width: 100% !important;
    max-width: 100% !important;
    background: #f8f8f8;
    margin-top: 15px;
}

td .btn-info {
    background-color: #a2743ccc !important;
    border-color: #a2743c !important;
    font-size: 12px;
    padding: 5px;
    margin: 1px 0;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #a2743c !important;
    border-color: #a2743c !important;
}
.bold {
    font-weight: bold;
}
.contentP-comment {
    border: 1px solid #bbbaba;
    padding: 5px 10px;
    color: #727272;
}
span.textTitle {
    color: #727272;
}
.title {
    color: #a2743c;
    font-size: 17px;
}
img.img-preview {
    height: 100px !important;
    width: 200px !important;
    object-fit: contain;
}
.dayMonth th i {
    color: #6e6e6e;
    margin-right: 3px;
}

table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > td:first-child:before,
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > th:first-child:before {
    background-color: var(--themeColor);
}
.btn-info {
    background-color: var(--themeColor) !important;
    border-color: var(--themeColor) !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:hover {
    background: #69461d !important;
}
#wrapper.enlarged #sidebar-menu ul ul {
    background-color: #a2743c;
}

.content-page {
    position: relative;
}
#wrapper {
    position: relative;
    z-index: 9;
}
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(82, 64, 64, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    border-radius: 50%;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.footer {
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    padding: 10px 0;
    width: 100%;
    text-align: center !important;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

.fixed-left-void .content-page {
    margin-left: 0;
}
.editbtnInCenter {
    text-align: center;
}
.editbtnInCenter button {
    min-width: 120px;
}

.modal {
    z-index: 99999;
}
.home-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.home-flex .col {
    margin-bottom: 20px;
}
.home-flex .card-box {
    height: 100%;
    margin: 0;
}
.home-flex .playBox{
    margin-bottom: 15px;
    position: relative;
}
.home-flex .playBox .card-box {
    border: 3px solid transparent;
}
.home-flex .playBox.playHasQue .card-box {
    border-color: #ebab43;
}
.home-flex .playBox .tooltip-outer{
    position: absolute;
    right: .5rem;
    top: .5rem;
    z-index: 9999;
}
.home-flex .playBox .tooltip-icon{
    color: var(--secondary);
    cursor: pointer;
}
.tooltip-outer .tooltip .tooltip-inner {
    min-width: 120px;
    background-color: var(--secondary);
}
.tooltip.top .tooltip-arrow {
    border-top-color: var(--secondary);
}
.home-flex .playBox:not(:last-child){
    margin-right: 15px;
}
.widget-chart-1 .widget-detail-1 {
    word-wrap: break-word;
}
/* ===============================*/
/* ============== Notification Alert bottom =================*/
.visible-notif {
    animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
  }
  .notification-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
.notif-alert {
    width: max-content;
    max-width: 300px;
    max-height: 200px;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background: var(--themeColor-light3);
    color: #fff;
    border-radius: 3px;
    position: fixed;
    bottom: 10px;
    right: -100%;
}
.notif-alert .notif-dtls{
    text-align: left;
    font-size: 16px;
    line-height: 1.2;
}
.notif-alert .notif-link{
    color: var(--primary);
    display: inline-block;
    margin-left: .4rem;
}
@keyframes movein {
    from { right: -100%; }
    to   { right: 10px; }
}
@keyframes moveout {
    from { right: 10px; }
    to   { right: -100%; }
}
/* ==============////////////////////////////////=================*/
/* ============== responsive =================*/

@media (max-width: 991px) {
    .topbar {
        background: var(--themeColor);
        background: linear-gradient(90deg, var(--themeColor) 0%, var(--themeColor-light) 70%, var(--themeColor-light2) 100%);
    }
    .topbar .topbar-left{
        background: #f8f5f0;
    }
    .page-title  , .notification-box > ul > li > a , .button-menu-mobile{
        color: #fff !important;
      }
}
@media (max-width: 767px) {

    div#datatable-buttons_filter {
        position: relative;
        right: unset;
        top: 0;
        margin: 0;
    }
    h2 {
        line-height: 20px;
        font-size: 20px;
    }
    .header-title {
        font-size: 14px;
    }
    .tabsLinkDuty > li > a {
        position: relative;
        display: block;
        padding: 5px 5px;
        font-size: 13px;
        font-weight: bold;
    }
    .tabsLinkDuty {
        flex-wrap: wrap;
    }
    .tabsLinkDuty > li {
        margin-bottom: 2px;
    }
    h4 {
        line-height: 16px;
        font-size: 14px;
    }
    tr th {
        font-size: 13px;
    }
    .tab-content {
        padding: 20px 5px;
    }
    /* ================ menu ==============*/
    .forced .left.side-menu {
        display: block;
    }
    .enlarged .left.side-menu {
        display: none;
    }
    .side-menu {
        position: fixed !important;
    }


}
.bordered-table {
    border-collapse: collapse;
    width: 100%;
}

.bordered-table th {
    border: 1px solid #000; /* Add border to table cells */
    padding: 5px; /* Add some padding for better spacing */
    text-align: center; /* Center-align text in table cells */
    background-color: rgb(226, 226, 242);
}
.bordered-table td {
    border: 1px solid #000; /* Add border to table cells */
    padding: 5px; /* Add some padding for better spacing */
    text-align: left; /* Center-align text in table cells */
}
.bottom {
    margin-bottom: 25px; /* Add margin to create space between the two tables */
}












/**********************************************************************/
/******************** Print *********************************/
.printBtn {
    margin: 0 auto 1rem auto;
    display: block;
}
.printOnly{
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}
.printOnly .logo {
    display: block;
}
.printOnly .logo .image {
    max-height: 100px;
    object-fit: contain;
    min-height: 80px;
}
.printOnly .table-title {
    font-weight: bold;
}
@page { size:  auto; margin: 25mm 25mm 25mm 25mm; }
@media print{
    .printOnly{
        display: table;
    }
    .btn-group, .btn-group-vertical , .dataTables_filter ,  div.dataTables_paginate , .printBtn , .card-box{
        display: none;
    }


}
/**********************************************************************/
